@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

:root{
    /*fonts*/
    --font-roboto: 'Roboto', sans-serif;

    /*colors*/
    --color-blackClaro: #1c1c1c;
    --color-whiteClaro: #F9F4F4; 
    --color-blackPlomo: #28292d:
}