@use '../base/resets';

*{
    
    font-family: var(--font-roboto);
}

.body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #23242a;
    

}

